<!doctype html>
<html lang="en">

  <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="css/comments.css">

<title> Comment Forum </title>

<h1> Tiffany Pham </h1>

<h6 >Menu</h6>
<nav class="nav">


  <a href="index.html"> <button> Home Page </button></a>
  <a href="profile.html"> <button> Profile </button> </a>

</nav>
<hr />


<body>
  <main id="commentMain" class="container-fluid">

<h2>Comments Log</h2> <br>
      <table id ="commentTable" class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Comment ID</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody id ="commentTableBody" v-for="c in commentTable">



                <td>{{ c.id }}</td>
                <td>{{ c.comment }}</td>

        </tbody>

      </table> <br>

<!-- Comment Form -->
      <form id = "newCommentForm" @submit.prevent="handleCommentForm">

        <div class="form-group row">
          <label for="comment" class="col-sm-2 col-form-label">Have Any Comments? Add Them Below:</label> <br>
          <textarea class="form-control" id="comment" v-model="commentForm.comment" required></textarea>
        </div>

    <button type="submit" id ="submitNewComment" class="btn btn-primary mb-2">Submit</button>

      </form>
</main>
      <!-- We need Bootstrap's modal JS, thus we also need jQuery-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

      <!-- moment.js via CDN-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

      <!-- development version, includes helpful console warnings -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="js/comments.app.js"></script>

</body>

</html>
